.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: #333030;
}

.timeLabel {
  font-family: Seville-Book;
  font-size: 40;
  fill: #F80070;
  text-length: 32;
}

.statusLabel {
  font-family: Seville-Book;
  font-size: 60;
  fill: #478542;
  text-length: 32;
}