.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}

.timeBig {
  font-family: Seville-Book;
  font-size: 40;
  fill: #F80070;
  text-length: 32;
}

.timeSmall {
  font-family: Seville-Book;
  font-size: 20;
  fill: #F80070;
  text-length: 32;
}